

nav img {
width: 10em;
}



footer {
    margin-top: 7em;
}

.immagineprof1 {
    width: 2.4em;
}

.dropdown-menu div ul li img {
    width: 10em;
}

.drop2 {
    margin-left: 10%;
     @media screen and (min-width:991px){
        margin-left: 80%;
     }
     @media screen and (min-width:1295px){
        margin-left: 85%;
     }
     @media screen and (min-width:1450px){
        margin-left: 90%;
     }
}


.sez2 img:hover {
    transform: scale(1.2);
}

.carousel-inner .carousel-item img {
    max-width: 100%;
    max-height: 100%;
  }